.border {
  background-color: rgb(84, 52, 19);
  border-bottom: 5px solid rgb(84, 52, 19);
  border-radius: 8px;
}
.board-contain {
  position: relative;
  background-color: rgb(245, 207, 121);
  width: 544px;
  height: 544px;
  border-radius: 8px;
  border: 3px solid rgb(191, 128, 50);
}
.char-contain {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 510px;
  font-size: 12px;
}
.num-contain {
  position: absolute;
  width: 15px;
  height: 508px;
  font-size: 12px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
.index-top {
  position: absolute;
  left: 17px;
  top: 8px;
}
.index-left {
  position: absolute;
  left: 10px;
  top: 17px;
}
.index-bottom {
  position: absolute;
  left: 17px;
  bottom: 8px;
}
.index-right {
  position: absolute;
  right: 10px;
  top: 16px;
}
